region             = "<AWS_REGION>"
stage              = "dev"
service_role       = "arn:aws:iam::<AWS_ACCOUNT_ID>:role/<CODEBUILD_SERVICE_ROLE>"
vpc_id             = "vpc-xxxxxxxx"
subnets            = ["subnet-aaaaaaaa", "subnet-bbbbbbbb"]
security_group_ids = ["sg-xxxxxxxx"]

codebuild_projects = {
  "sample-backend" = {
    environment_variables = [
      {
        name  = "REPOSITORY_NAME"
        value = "<ECR_REPOSITORY_NAME>"
      },
      {
        name  = "IMAGE_NAME"
        value = "dev-sample-backend"
      },
      {
        name  = "GIT_DEPLOY_PATH"
        value = "dev/sample/backend/deployment.yaml"
      },
      {
        name  = "DOCKER_PATH"
        value = "./Dockerfile"
      }
    ]
    location       = "https://github.com/<ORG>/<SOURCE_REPOSITORY>.git"
    buildspec      = "./buildspec.yml"
    source_version = "release/dev"
    group_name     = "dev-sample-codebuild-log"
    stream_name    = "dev-sample-backend"
  }
}
